.site-main {
    padding: 1em;
    max-width: 40em;
    margin: 0 auto;

    @media screen and (min-width: $query__small) {
        padding: 2em;
    }

    @media screen and (min-width: $query__wide) {
        max-width: 45em;
    }

}

@supports (grid-area: auto) {
    @media screen and (min-width: $query__medium) {

        .site {
            display: grid;
            grid-template-columns: 16.5em 1fr;
            grid-template-rows: 1fr minmax(1em, auto);
            grid-template-areas:
                "header main"
                "header sidebar"
                "header footer";
        }

        .site-header {
            grid-area: header;
        }

        .site-main {
            grid-area: main;
        }

        .widget-area {
            grid-area: sidebar;
        }

        .site-footer {
            grid-area: footer;
        }

    }

    @media screen and (min-width: $query__x_wide) {

        body:not(.archive-view) .site {
            grid-template-columns: 16.5em 1fr 16.5em;
            grid-template-rows: 1fr minmax(1em, auto);
            grid-template-areas:
                "header main sidebar"
                "header footer footer";
        }

        .widget-area {
            // border-left: 1px solid $color__grey_black;
        }
    }

}
