/*--------------------------------------------------------------
## Global layouts
--------------------------------------------------------------*/
@import "../layout/global";

/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/
@import "archive/archive";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";