.site-footer {
	position: relative;
	padding: 1em;
	color: #fff;
	background-color: $color__grey_black;
	text-align: center;

	a {
		font-weight: 700;
		color: white;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}

}

.site-info {
	margin: 1em 0 1em auto;
	align-self: center;
	font-size: 90%;

	@media screen and (min-width: $query__medium) {
		text-align: right;
	}
}

