.site-footer {
	position: relative;
	padding: 1em;
	color: #fff;
	background-color: $color__grey_black;
	text-align: center;

	a {
		font-weight: 700;
		color: white;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}

}

.site-footer__wrap {
	max-width: $size__max-width;
	margin: 0 auto;
	padding: 0 2em;

	@media screen and (min-width: $query__medium) {
		display: flex;
		justify-content: space-between;
	}
}

.site-info {
	margin: 1em 0 1em auto;
	align-self: center;
	font-size: 90%;

	@media screen and (min-width: $query__medium) {
		text-align: right;
	}
}

.social-menu {
	margin: 1em 0;
	ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;

		a {
			display: block;
			padding: .5em 1em;
			color: white;
			text-decoration: none;
			opacity: .6;

			&:hover,
			&:focus {
				text-decoration: underline;
				opacity: 1;
				cursor: pointer;
			}
		}
	}
}