.site-header {
	position: relative;
	padding: 1em;
	color: white;
	background-color: $color__grey_black;
	border-bottom: 1px solid $color__background-hr;

	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.site-branding {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.custom-logo-link {
	display: block;
	padding: 1em;

	img {
		display: block;
		height: 95px;
		width: auto;
	}
}

.site-branding__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65px;
}

.site-title {
	margin: 0 0 .25em;
	padding: 0;
	font-size: 1.6em;
	font-weight: 900;
	line-height: 1em;

	a {
		color: white;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.site-description {
	margin: 0 0 .25em;
	font-size: .9em;
	font-style: italic;
	font-weight: 100;
}


@media screen and (min-width: $query__medium) {

	@supports (grid-area: auto) {
		.site-header {
			display: flex;
			flex-direction: column;
			justify-content:flex-start;
		}
	}

	@supports (grid-area: auto) {
		.site-header {
			position: fixed;
			width: 16.5em;
			height: 100vh;
			border-bottom: none;
			overflow-y: auto;
		}
	}
}

/*
Header Menu
*/
@import "header-menu";
