.header-image {
	max-height: 60vh;
	overflow: hidden;

	img {
		display: block;
		width: 100vw;
	}
}

.site-header {
	position: relative;
	padding: 1em;
	color: white;
	background-color: $color__grey_black;
	border-bottom: 1px solid $color__background-hr;

	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.site-branding {
	display: flex;
	min-height: 65px;
}

.custom-logo-link {
	margin-right: 1em;
	img {
		display: block;
		height: 65px;
		width: auto;
	}
}

.site-branding__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65px;
}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: 900;
	line-height: 1em;

	a {
		color: white;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 100;
}

@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		justify-content: space-between;
	}

	.site-branding {
		width: 35%;
		flex: 1 0 auto;
	}

	.site-navigation {
		width: 55%;
	}
}

/*
Header Menu
*/
@import "header-menu";