$color__grey_black: hsl(210, 10%, 15%);
$color__grey_dark: hsl(210, 10%, 27%);
$color__grey_light: hsl(0, 0%, 80%);
$color__grey_x_light: hsl(0, 0%, 95%);

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__grey_black;
$color__link-visited: $color__grey_dark;
$color__link-hover: $color__grey_black;
$color__text-main: $color__grey_black;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


