$size__max-width: 1080px;

$size__ratio-small: 30%;

$size__ratio-large: calc(70% - 2em);

$query__small: 600px;
$query__medium: 61.875em;
$query__wide: 1300px;
$query__x_wide: 1800px;
$query__xx_wide: 2300px;