.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation {
	padding: 2em 0;
	font-family: $font__meta;
	font-size: 90%;
	text-align: left;
	overflow: hidden;

	a {
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 1em;
		border: 1px solid $color__grey_black;
		color: black;

		&:hover,
		&:focus {
			color: white;
			border-color: $color__grey_black;
			background-color: $color__grey_black;
		}
	}

}

.posts-navigation {
	margin: 0 auto 2em;
	padding: 0 1em;
}



@media screen and (min-width: $query__small) {

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 0;
	}

	.comment-navigation,
	.post-navigation {

		.nav-previous,
		.nav-next {
			float: left;
			display: flex;
			align-items: stretch;
			width: 48%;
		}

		.nav-next {
			float: right;
			text-align: right;
		}
	}

	.nav-previous {
		padding-bottom: 0;
	}

}

@supports (grid-area: auto) {
	@media screen and (min-width: $query__medium) {

		.posts-navigation {
			display: flex;
			width: 100%;
			margin: 0;
			padding: 0;
		}

		.nav-links {
			display: flex;
			width: 100%;
		}

		.nav-next .nav-links a {
			background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'><polyline points='32.3,57.3 6,26.7 32.3,-3.8' stroke='hsla(0, 0%, 100%, .2)' fill='transparent' stroke-width='8'/></svg>");
			background-repeat: no-repeat;
			background-position: left center;
			background-size: auto 110%;
		}

		.nav-previous .nav-links a {
			background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'><polyline points='8.3,-18.1 34.6,12.4 8.3,43' stroke='hsla(0, 0%, 100%, .2)' fill='transparent' stroke-width='8'/></svg>");
			background-repeat: no-repeat;
			background-position: right center;
			background-size: auto 110%;
		}

		.nav-previous .nav-links a {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			min-height: 10em;
		}

	}
}

.post-navigation {

	.meta-nav {
		display: block;
	}

	@media screen and (min-width: 30em) {
		padding-bottom: 1em;
	}

	.post-title {
		font-size: 1.2em;
		font-weight: 700;
		border-bottom: 3px solid $color__grey_black;
	}

	a:hover .post-title,
	a:focus .post-title{
		border-bottom-color: white;
	}

}
