.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation {
	padding: 2em 0;
	font-family: $font__meta;
	font-size: 90%;
	text-align: left;
	overflow: hidden;

	a {
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 1em;
		border: 1px solid $color__grey_black;
		color: black;

		&:hover,
		&:focus {
			color: white;
			border-color: $color__grey_black;
			background: $color__grey_black;
		}
	}

}

.posts-navigation {
	margin: 0 auto 2em;
	padding: 0 1em;
}

@media screen and (min-width: $query__small) {

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 0;
	}

	.comment-navigation,
	.posts-navigation,
	.post-navigation {

		.nav-previous,
		.nav-next {
			float: left;
			display: flex;
			align-items: stretch;
			width: 48%;
		}

		.nav-next {
			float: right;
			text-align: right;
		}
	}

	.nav-previous {
		padding-bottom: 0;
	}

}

@supports (display: grid) {
	@media screen and (min-width: $query__medium) {

		.posts-navigation {
			width: 100%;
			margin: 0;
			padding: 0;
		}

		.nav-links {
			display: flex;
		}
	}
}

.post-navigation {

	.meta-nav {
		display: block;
	}

	@media screen and (min-width: 30em) {
		padding-bottom: 1em;
	}

	.post-title {
		font-size: 1.2em;
		font-weight: 700;
		border-bottom: 3px solid $color__grey_black;
	}

	a:hover .post-title,
	a:focus .post-title{
		border-bottom-color: white;
	}

}

