.social-menu {
	margin-bottom: -1.5em;
	padding: 1em 0;
	color: #fff;
	background-color: $color__grey_black;

    ul {
    	display: flex;
        justify-content: center;
	    flex-wrap: wrap;
    	list-style-type: none;
    	margin: 0;
    	padding: 0;

        a {
        	display: block;
        	padding: .5em 1em;
        	color: transparent;
        	text-decoration: none;

			.icon {
				fill: hsla(0, 0%, 100%, .5);
				transition: fill .2s;
			}

            &:hover,
            &:focus {
                text-decoration: underline;
            	cursor: pointer;

				.icon {
					fill: white;
				}
            }
        }
    }
}

@media screen and (min-width: $query__medium) {
	.social-menu {
		padding-top: 0;
		margin-right: -1em;
		ul {
	        justify-content: flex-end;
		}
	}
}
