.sticky {
	display: block;
}

.extra {
	display: none;
}

body:not(.archive-view) {

	.hentry {
		margin: 0 0 1.5em;
	}

	.site-main {
		padding: 1em;

		@media screen and (min-width: $query__small) {
			padding: 2em;
		}

	}

	@supports (grid-area: auto) {
		@media screen and (min-width: $query__medium) {

			.site-main {
				display: grid;
				grid-template-columns: 1fr minmax(auto, 46em) 1fr;
				align-content: start;
				grid-template-areas:
					". post ."
					". nav ."
					". comments .";
			}

			.post,
			.page {
				grid-area: post;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-column-gap: 20px;
				grid-template-areas:
					"header header header header"
					"meta meta meta meta"
					"featimg featimg featimg featimg"
					"content content content content"
					"footer footer footer footer";

				.entry-meta {
					margin: -1em 0 1em;
				}

				@media screen and (min-width: $query__wide) {
					grid-template-areas:
						"header header header header"
						"featimg featimg featimg featimg"
						"meta content content content"
						"footer footer footer footer";

					.entry-meta {
						margin-top: 2.1em;
					}

					.byline,
					.posted-on,
					.comments-link,
					.edit-link {
						display: block;
						margin-bottom: 1em;

						&:before,
						&:after {
							margin: 0;
							content: "";
						}

						a {
							display: block;
						}
					}

					.extra {
						display: inline;
					}
				}
			}

			.entry-header {
				grid-area: header;
			}

			.entry-meta {
				grid-area: meta;
			}

			.featured-image {
				grid-area: featimg;
			}

			.entry-content {
				grid-area: content;
				max-width: 100%;
			}

			.entry-footer {
				grid-area: footer;
			}

			.post-navigation {
				grid-area: nav;
			}

			.comments-area {
				grid-area: comments;
			}

		}
	}

}



.cat-links {
	margin-bottom: .5em;
	font-family: $font__meta;
	font-size: 80%;

	a {
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 3px solid transparent;

		&:focus,
		&:hover {
			border-bottom-color: black;
		}
	}
}

.entry-title {
	margin: .125em 0 .25em;
	font-size: 2.5em;
	line-height: 1.2em;
	text-transform: uppercase;

	@media screen and (min-width: $query__medium) {
		font-size: 3em;
	}

	a {
		text-decoration: none;
		color: black;

		&:focus,
		&:hover {
			border-bottom: 5px solid;
		}
	}
}

.entry-meta,
.entry-footer {
	font-family: $font__meta;
	font-size: 80%;
	color: hsl(0, 0%, 25%);

	a {
		font-weight: 700;
		text-decoration: none;
		color: black;
		border-bottom: 3px solid transparent;

		&:focus,
		&:hover {
			color: black;
			border-bottom-color: black;
		}
	}
}

.byline {
	&::after {
		content: "|";
		margin: 0 .5em;
	}
}

.comments-link,
.edit-link {
	&::before {
		content: "|";
		margin: 0 .5em;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content {
	margin: 1em 0;
}
